.Background{
    
    }


.blackline-header{

}


.Seiteninhalt{

}


.body{

}


.button{

}





<!--


.slideshow{
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 30px auto;

}

#id{
    float: left;
    text-align: center;
}

.Ueberschrift1{
    background-color:#DEEFE7;
}

.Ueberschrift2{

  margin-left: 1%;
}


.Zeile{
    background-color: transparent;
    float:left; 
    margin-left: 60px;
    z-index: -1;
    margin-top: 60px;
    font-family: Arial, Helvetica;
    font-size: 12pt;
    line-height: 150%;
}

.Zeile-1{
    background-color: transparent;
    float:left; 
    margin-left: 60px;
    font-family: Arial, Helvetica;
    font-size: 12pt;
    line-height: 150%;

}

.Zeile-2{
    background-color: transparent;
    float:left; 
    margin-left: 60px;
    font-family: Arial, Helvetica;
    font-size: 12pt;
    line-height: 150%;
    position: relative;
}
.Zeile-3{
    background-color: transparent;
    float:left; 
    margin-left: 175px;
    margin-top: 130px;
    font-family: Arial, Helvetica;
    font-size: 12pt;
    line-height: 150%;
}

.Kasten{
    width: 300px;
    height: 26px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 2px;
    background-color: #DEEFE7;
    font-family: Arial, Helvetica;
    font-size: 12pt;
    text-align: center;

}

.Kasten a:hover span{
    display: block;
    position: absolute;
    top:-60px;
    left:300px;
    width: 200px;
    height: 300px;
    background: url(1.png);
    color: grey;
}

a.info:hover span
{
display:block;
position:absolute;
top:-60px;
left:300px;
width:234px;
height: 60px;
background: url(grafik.jpg);
}

.Aufzaehlung{
    margin-left: 45px;
}
#punkt{
    list-style: disc;
}

.Inhalt-Impressum{
    font-family: Arial, Helvetica;
    font-size: 12pt;
    line-height: 150%;
    margin-left: 1%;

}
.Background{
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
    float: both;
}

.Background2{
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 786px;
    z-index: 3;
}

.Background_X{
    background-image: url(background-white.jpg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}


.Auswahlbox{
    margin-left: 50px;
    margin-top: 20px;
}

.Auswahlbox2{
    margin-left: 50px;
    margin-top: 5%;
  
}

.Auswahlbox3{
    margin-left: 100px;
    margin-top: 50px;
}

.Auswahlbox4{
    margin-top: -10px;
}

.Titel{
    font-size: x-large;
    font-weight: bolder;
    margin-left: 670px;
    margin-top: 30px;
    font-family: Arial, Helvetica;
}

.Ueberschrift-Impressum{
    font-size: x-large;
    font-weight: bolder;
    line-height: 150%;
    margin-left: 1%;
}

#Test{
    text-align: center;
    margin-top: -300px;
}
/* 1. Allgemeiner Teil */
body {
    margin: auto; 
    height: 100%

    
}

Test4{
    margin-left: auto;
    margin-right: auto;
    width: 100px;

}

-->