#navi_bottom {
background:#ffffff;
color:#842002;
padding: 5px;
white-space:nowrap;
bottom:-150px;
clear:both;
height:1.2em;
list-style:none;
margin:-10;
padding-left:1em;
position:relative;
}

#navi_bottom .right a,
#navi_bottom .left a {
margin-left:.5em;
margin-right:.5em;
}

#navi_bottom a {
background:#ffffff;
color:#842002;
text-decoration:none;
font:10px "Open Sans", sans-serif;
font-weight: 700;
}

.left {
float:left;
}
.right {
float:right;
}