#header_nav {
background:#ce3d11;
clear:both;
height:6.9em;
margin:-10;
padding-left:2em;
padding-right:1em;
position:relative;
font-family: "Open Sans";
}

#header_nav .right a,
#header_nav .left a {
margin-left:.5em;
margin-right:.5em;
}

#header_nav a {
background:#ffffff;
color:#842002;
text-decoration:none;
}

#header_bottom{
background:#fecc3f;
height: 2.2em;
width: 100%;
margin-bottom: 50px;
}

.head_left {
float:left;
width: 10em;
}

.head_right {
float:right;
padding-top: .6em;
width: 5in;
}

.head_right_start {
float:right;
padding-top: .6em;
}

.header_button{
background:#ce3d11;
color: #ffffff;
border: #ffffff solid;
border-radius: 0.6em;    
width: 7.5em;
margin-bottom: 0.7em;
text-align: left;
font-family: "Open Sans";
font-weight: bold;
float: right;
}
#plz_ort_start{
	visibility: hidden;
}

.umkreissuche_header {
	background: #ce3d11 none repeat scroll 0 0;
    border: medium solid #ffffff;
    border-radius: 0.6em;
    color: #ffffff;
    float: left;
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 2.6em;
    text-align: right;
    width: 75%;
}

.body{
background:#ce3d11;
margin: 0;
min-width: 7in;
}

#meine_Daten{
	bottom: 0px;
}
