#header_nav {
background:#ce3d11;
clear:both;
height:4em;
margin:-10;
padding-left:2em;
padding-right:1em;
position:relative;
font-family: "Open Sans";
}

#header_nav .right a,
#header_nav .left a {
margin-left:.5em;
margin-right:.5em;
}

#header_nav a {
background:#ffffff;
color:#842002;
text-decoration:none;
}

#header_bottom{
background:#fecc3f;
height: 2.2em;
width: 100%;
margin-bottom: 100px;
}

.head_left {
float:left;
width: 10em;
margin-left: 5%;
}

.head_right {
float:right;
padding-top: .6em;
width: 65%;
margin-right: 5%;
}

.head_right_start {
float:right;
padding-top: .6em;
width: 9in;
margin-right: 5%;
}

.header_button{
background:#ce3d11;
color: #ffffff;
border: #ffffff solid;
border-radius: 0.6em;    
width: 7.5em;
margin-top: 0.4em;
text-align: left;
font-family: "Open Sans";
font-weight: bold;
float: right;
margin: 0.05in;
}

#open{
	position: relative;
}

#openx{
	position: relative;
}

#plz_ort_start{
	visibility: hidden;
}

.umkreissuche_header {
	background: #ce3d11 none repeat scroll 0 0;
    border: medium solid #ffffff;
    border-radius: 0.6em;
    color: #ffffff;
    float: left;
    font: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: 0.4em;
    text-align: right;
    width: 45%;
    margin-left: 5%;
}

input.umkreissuche_header::-webkit-input-placeholder {
    color: #ffffff;
    text-align: center;
    opacity: 100;
}
input.umkreissuche_header::-moz-placeholder {
  opacity:100;
}

.body{
background:#ce3d11;
margin: 0;
min-width: 8in;
}

#meine_Daten{
	width: auto;
}
