.body{
	font: 100% "Open Sans",sans-serif;
}

.farbe {
    background-color: #ce3d11;
    margin-top: 4%;
}
.hintergrundfarbe {
    background-color: #ce3d11;
}
h1 {
    color: #842002;
}
.ersterBereich {
    height: 45%;
}
.button_startseite {
    
    border-radius: 7px;
    border-style: solid; 
    background-color: #e59a83;
    border-color: white;
    border-width: 4px;
    color: white;
    font-size: 200%;
    font-weight: 900;
    height: 0.7in;
    margin-left: 25%;
    margin-top: 13%;
    min-width: 1.8in;
    width: 40%;
    text-align: center;
}
input.button_startseite::-webkit-input-placeholder {
    color: #ffffff;
    text-align: center;
    opacity: 100;
}
input::-moz-placeholder {
  opacity:100;
}

.logo {
    float: right;
    height: auto;
    max-width: 3.5in;
    position: relative;
    right: 15%;
    width: 19%;
}
#textbaustein {
    color: white;
    margin-left: 35%;
    margin-top: -15%;
    width: 50%;
    margin-bottom: 5%;
    font-size: 85%;
}
.paypal {
    height: auto;
    margin-left: auto;
    width: 20%;
}
#bild1 {
    margin-left: 17%;
    min-width: 0.5in;
    width: 16%;
    margin-top: 4%;
}
#bild2 {
    margin-left: 5%;
}
.links {
    color: white;
    width: 55%;
}
.rechts {
    margin-left: 50%;
    width: 45%;
}
.button_absenden {
    background-color: #842002;
    border-color: #842002;
    border-radius: 7px;
    border-style: solid;
    border-width: 4px;
    color: #ffffff;
    font-weight: 900;
    left: 30px;
    margin: 4px;
}
.button_absenden:hover {
    background-color: #ffffff;
    color: #842002;
    cursor: pointer;
}
.button {
    border-color: #842002;
    border-radius: 7px;
    border-style: solid;
    border-width: 4px;
    color: #842002;
    margin: 2px;
    width: 140px;
}

.button:hover{
	background-color: #842002;
    color: #ffffff;
    cursor: pointer;
}

.userbutton{
    border-radius: 7px;
    border-color: #842002;
    border-style: solid;
    border-width: 4px;
    width: auto;
    margin: 2px;
    color: #ffffff;
    background-color: #842002; 
    font-size: small;
}

.userbutton:hover{
	background-color: #ffffff;
    color: #842002;
    cursor: pointer;
}

.userdaten{
    font-size: small;
}

.maincontent {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: auto;
    position: relative;
    top: 0%;
    width: 48%;
    float: left;
    margin-bottom: 4%;
    padding: 20px;
}

.maincontent_static {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: 73%;
    overflow: scroll;
    position: relative;
    top: 0%;
    width: 48%;
    float: left;
    margin-bottom: 2%;
    padding: 20px;
}


.infocontent {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    height: auto;
    position: relative;
    top: 0%;
    right: 5%;
    width: 25%;
    float: right;
}

#rechterBereich{
	width: 30%;
	float: right;
    height: auto;
    position: relative;
}

.contenthead{
    border-bottom: 1px solid;
}

.in1{
    width: 40%;
    vertical-align: top;
}

#absenden {
    background-color: #842002;
    border-color: #842002;
    border-radius: 7px;
    border-style: solid;
    border-width: 4px;
    color: #ffffff;
    left: 30px;
    margin: 4px;
}
#absenden:hover {
    background-color: #ffffff;
    color: #842002;
    cursor: pointer;
}
#pizzerienContainer {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: auto;
    position: relative;
    top: 0%;
    width: 51%;
    float: left;
    margin-bottom: 4%;
}

#logo_uebersicht {
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    position: relative;
    top: 0%;
    right: 0%;
    margin-left: 50%;
}

#logo_uebersicht2 {
    bottom: 0;
    width: 90%;
    height: auto;
    overflow: auto;
    position: relative;
    top: 0%;
    right: 0%;
    margin-left: 10%;
    margin-top: 1%;
}

#infoContainer {
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    height: auto;
    position: relative;
    top: 0%;
    width: 80%;
    padding: 1%;
}
.design{
    float: left;
    width: 50%;
}

.subContainer {
    height: 20%;
    width: 90%;
}
#infoContainerText {
    color: #842002;
    font-size: 130%;
    font-weight: 900;
    left: 5%;
    width: auto;
    margin-left: 8%;
}
@media all and (max-width: 980px) {
#pizzerienContainer {
    left: 190px;
    width: 490px;
}
#infoContainer {
    left: 700px;
    width: 245px;
}
}
.pizzeriaIcon {
    height: auto;
    width: 100px;
}
.iconspalte {
    width: 100px;
}
.listParagraph {
    color: black;
    font-weight: 900;
    margin: 0;
    font-size: 70%;
}
#pizzeriaName {
    font-size: 90%;
}

tr.line {
    cursor: pointer;
    border-bottom: 3px solid #842002;
}

tr, table{
	border-collapse: collapse;
}

.pizzerienuebersicht{
    margin: 20px;
    width: 94%;
}
table {
    
}
.Text1 {
    background-color: #fecc3f;
    border-color: #842002;
    border-radius: 7px;
    border-style: solid;
    border-width: medium;
}
.Text2 {
    color: white;
    margin-left: 1%;
}
.Text3 {
    color: #842002;
    font-weight: bold;
    font-size: medium;
}
.Text4 {
    color: #842002;
    font-size: small;
}

#userstrasse{
	width:230px;
}

#userhausnummer{
	width:50px;
}

#oeffnungszeiten{
    width:288px;
}
#pizzarienlogo{
	width: 100%;
    height: auto;	
}
#containertitel{
	font-weight: bold;
    margin-left: 2%;
}

.containerinhalt{
	font-size: small;
    margin-left: 20%;
}

#haus{
	height: 4%;
	width: auto;
	float: left;
    margin-left: 1%;
}
#uhr{
	height: 4%;
	width: auto;
	float: left;
	clear: left;
    margin-top: -1%;
    margin-left: 3%;
}
#schein{
	height: 4%;
	width: auto;
	float: left;
	clear: left;
    margin-top: 3%;
    margin-left: 3%;
}
#warenkorbContainer{
    background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #842002;
    height: 50%;
    width: 80%;
    padding: 1%;
    position: relative;
    overflow: auto;
}
#groesses{
	width: 15%;
}
#groessem{
	width: 20%;
}
#groessel{
	width: 25%;
}
#pizzeriatabelle{
	table-layout: fixed;
	text-align: center;
}
.pspalte{
	width: 20%;
}
.preisbutton{
	background-color: #842002;
	color: #ffffff;
	border-radius: 6px;
	width: 50%;
	border-color: #842002;
	
}
.zurKasseButton{
	background-color: #842002;
	color: #ffffff;
	border-radius: 6px;
	width: 50%;
	border-color: #842002;
}
.bestellen{
	background-color: #842002;
	color: #ffffff;
	border-radius: 6px;
	width: 50%;
	border-color: #842002;
}
.preisbutton:hover{
	border-color: #842002;
	color: #842002;
	background-color:#ffffff;
}
.spaltenname{	
	font-weigth: bold;
}
.spaltenbezeichnung{
	font-size:50%;
}
.spaltepizza{
	margin: 0;
}
#bildwarenkorb{
	width: 20%;
	float: left;
}

.sterne{
	width: 10em;
}

.bezahlart{
	width: 3em;
	height: auto;
}
#bezahlart1{
	width: 5em;
	height: auto;
    margin-left: -7%;
}
#bezahlart2{
	width: 3em;
	height: auto;
}
#bezahlart3{
	width: 5em;
	height: auto;
}
#bezahlart4{
	width: 3em;
	height: auto;
}
#showwarenkorb{
	overflow: auto;
	height: 60%;
	width: 95%;	
}
#showwarenkorb ul{
	margin-top:0;
}

#summeWarenkorb{
	border:0px;
	border-top: 5px;
	border-style: solid;
}
#warenkorbAnzeigen {
   background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: auto;
    position: relative;
    top: 0%;
    width: 48%;
    float: left;
    margin-bottom: 4%;
}
#zeitpunkt {
   background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: auto;
    position: relative;
    top: 0%;
    width: 48%;
    float: left;
    margin-bottom: 4%;
}
#warenkorbuebersicht {
   background-color: #ffffff;
    border-radius: 12px;
    border-width: 0;
    color: #842002;
    left: 15%;
    height: auto;
    position: relative;
    top: 0%;
    width: 48%;
    float: left;
    margin-bottom: 4%;
}
#bezahlart {
    background-color: #ffffff;
    border-width: 0;
    color: #842002;
    left: 2.5%;
    height: auto;
    position: relative;
    top: 0%;
    width: 95%;
    float: left;
    margin-bottom: 4%;
	line-height: 2;
	border:0px;
	border-top: 5px;
	border-style: solid;
}
#extrazutaten_container{
	position:fixed!important;
    position:absolute;
    height:auto;
    width:auto;
    margin:-150px 0px 0px -155px;
    top: 50%;
    left: 50%;
    color: #852002;
    background-color: #ffffff;
    border-radius: 18px;
    display:none;
    z-index:1002;
    padding:10px;
}
#bezahlartradio{
	position: relative;
	width: auto;
}
.zahlungsart{
	width: auto;
}
.zahlungsart2{
	width: auto;
    margin-left: 30%;
    margin-top: 7%;
}

.placeholder_fehler{
    color: #842002;
    display: none;
    font-size: small;
}

.fehler{
	margin-top:0px;
	margin-bottom:10px;
	color: #842002;
	display:none;
}
#lieferadresseAnzeigen {
    background-color: #ffffff;
    border-width: 0;
    color: #842002;
    left: 2.5%;
    height: auto;
    position: relative;
    top: 0%;
    width: 95%;
    float: left;
    margin-bottom: 4%;
	border:0px;
	border-top: 5px;
	border-style: solid;
}

.hinzufuegen_button{
	padding:0;
    border-width: 0;
    margin-right: 0.1em;
}

.warenkorb_anzahl{
    float: right;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.hinzufuegen{
	width: 2em;
    hight: auto;
}

.reduzieren{
    width: 2em;
    hight: auto;
}

.warenkorbelement{
	list-style-type: none;
	font-size: 90%;
}

.warenkorbelement button{
	width: 2em;
	height: 2em;
	font-size: 60%;
	float: right;
}
.warenkorbpreis {
	float:right;
	margin-left:1em;
}
.warenkorbelement .zusatz {
	font-size: 75%;
}

.static_text2 {
    font-size: small;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.static_text1 {
    font-size: medium;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
}

.infoContainer_content {
    font-size: 75%;
    margin-left: 16%;
}
.bezahlartdesign{
    float: left;
}

#anmerkungen{
	font: 100% "Open Sans",sans-serif;
	border-radius: 7px;
	border-color: #842002;
	border-style: solid;
	border-width: 4px;
	width: 100%;
	height: 5em;
	margin: 2px;
	color: #842002;
}
#anmerkungenue{
	border-width: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #842002;
}
#anmerkungentext{
	margin-bottom: 0px;
} 

.smalltext{
    font-size: small;
}

#close{
	position: absolute;
	border-radius:18px;
	border-width:2px;
	right: 3px;
	top: 3px;
	background-color: #ffffff;
	font-weight: 900;
	width: 30px;
}

.Wochentag_feld
{
	width:2em;
}
.bewertung2{
    font-size: 200%;
    margin-left: 2%;
}
.bewertung_text{
    font-size: 50%;
    margin-left: 2%;
    width: 90%;
}
#ueberschrift_bewertung{
    margin-left: 2%;
}
.extratabelle{
	padding-right: 10px;
	width: auto;
}

#bestellungen td, th{
	padding: 5px;
}